@model WeddingApp.Models.Band

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Band</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayAtWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayAtWeek)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoursPerWedding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoursPerWedding)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartnerId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Partner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Partner)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeddingCeremonies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeddingCeremonies)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bands)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bands)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
